openapi: 3.0.0
info:
  title: Steam Friends List API
  version: 1.0.1
  description: >
    Документация API для управления своим списком друзей на платформе Steam.

servers:
  - url: https://steamcommunity.com

components:
  securitySchemes:
    SessionCookie:
      type: apiKey
      in: cookie
      name: steamLoginSecure
  schemas:
    AnyValue:
      description: Что угодно. Важно само наличие значения
    SessionData:
      type: object
      required:
        - sessionID
        - steamid
      properties:
        sessionID:
          type: string
        steamid:
          description: ID пользователя
          type: integer
    AddFriendRequest:
      allOf:
        - $ref: '#/components/schemas/SessionData'
        - type: object
          required:
            - accept_invite
          properties:
            accept_invite:
              type: boolean
    BlockUserRequest:
      allOf:
        - $ref: '#/components/schemas/SessionData'
        - type: object
          required:
            - block
          properties:
            block:
              type: integer
    RemoveFriendRequest:
      $ref: '#/components/schemas/SessionData'
    AddFriendResponse:
      type: object
      properties:
        invited:
          type: array
          items:
            type: string
          description: Пользователь, которому отправили приглашение
        success:
          type: integer
          description: Статус отправки
    AddFriendErrorResponse:
      type: object
      properties:
        failed_invites:
          type: array
          items:
            type: string
          description: Пользователь, которому отправили приглашение
        failed_invites_result:
          type: array
          items:
            type: integer
          description: Коды ошибок для неудачных приглашений
        success:
          type: integer
          description: Статус отправки

security:
  - SessionCookie: []

paths:
  /profiles/{steamid}/friends:
    description: Получить список друзей пользователя
    parameters:
      - name: steamid
        description: Идентификатор пользователя
        in: path
        required: true
        schema:
          type: integer
      - name: ajax
        description: Способ запроса
        in: query
        schema:
          type: string
          description: Что угодно. Важно наличие значения
    get:
      summary: Запросить страницу друзей
      security:
        - SessionCookie: []
      responses:
        "200":
          description: Запрос удовлетворен. Получен HTML друзей пользователя
          content:
            text/html:
              schema:
                description: HTML-контент страницы друзей
                example: <div> ... </div>

  /actions/AddfriendAjax:
    description: Управление добавлением друзей
    get:
      summary: Редирект на главную страницу
      security:
        - SessionCookie: []
      responses:
        "302":
          description: Редирект на https://steamcommunity.com/
    post:
      summary: Добавление пользователя в список друзей
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AddFriendRequest'
      responses:
        "400":
          description: Ошибка запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddFriendErrorResponse'
        "200":
          description: Пользователь добавлен в друзья
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddFriendResponse'

  /actions/RemoveFriendAjax:
    post:
      summary: Удалить пользователя из друзей
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RemoveFriendRequest'
      responses:
        "200":
          description: Пользователь удален из друзей
          content:
            application/json:
              schema:
                type: string
                description: Статус удаления
                example: true

  /actions/BlockUserAjax/:
    post:
      summary: Заблокировать пользователя
      security:
        - SessionCookie: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BlockUserRequest'
      responses:
        "200":
          description: Пользователь заблокирован
          content:
            application/json:
              schema:
                type: string
                description: Статус завершения блокировки
                example: true
